/* Layout */
.container {
  width: 100vw;

  overflow: hidden;
}

.container article {
  width: 1440px;
  min-width: 1440px;
  margin: 0 auto;
  /* width: 100vw; */
  /* padding: 0 140px; */
}

/* 
* Section One 
*/
.l_section_one {
  background-image: url('../../../public/assets/render/bg-one.png');
  background-size: 100vw 100%;
  background-position: center;
  /* background-repeat: no-repeat; */
  height: 1000px;
  min-width: 390px;
}
.l_section_one article {
  display: flex;
  justify-content: space-between;
  color: var(--color-white-100);
}
.l_section_one .text_box {
  margin-top: 150px;
  width: 50%;
  min-width: 400px;
}
.l_section_one .text_box h1 {
  line-height: 2.75rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.006em;
}
.l_section_one .text_box p {
  font-size: 0.7rem;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: -0.006em;
  margin-top: 0.7em;
}

.bg_one_illust {
  width: 50%;
  min-width: 693px;
  height: 100%;
  max-height: 373px;
  margin-top: 150px;
}

.free_btn {
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  width: 120px;
  height: 44px;
  color: var(--color-blue-500);

  margin-top: 40px;
  font-size: 14px;
  font-weight: 700;
}
.m_free_btn {
  display: none;
}
/*
* Section Sub
*/
.l_section_one_two {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f5f9fc;
  height: 640px;
}
.l_section_one_two article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web_sub {
  background-position: center;
  background-size: cover;
  object-fit: contain;

  width: 100%;
  min-width: none;
  height: 100%;
  min-height: 810px;

  margin-top: -440px;
}
.m_sub {
  visibility: hidden;
  width: 100px;
  height: 100px;
}

.sub_child {
  display: flex;
  flex-shrink: 0;

  position: absolute;
  transform: translateX(40px);
}

/*
* Section Try
*/

.try_section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #484bff;
  height: 960px;
}

/* 
* Section Two
*/
.l_section_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.l_section_two article:nth-child(1) {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin-top: 77px;
}
.l_section_two .text_box {
  margin-top: 60px;
}
.l_section_two p {
  color: var(--color-blue-700);
  font-weight: 700;
  font-size: 1rem;

  margin-bottom: 10px;
}
.l_section_two h1 {
  color: #222222;
  font-weight: 500;
  line-height: 55px;
  font-style: normal;
}
.l_section_two h2 {
  color: #222222;
  font-weight: 700;
  line-height: 55px;
  font-style: normal;
}
.m_two_text_box {
  display: none;
}

.l_section_two article:nth-child(2) {
  display: flex;
  max-width: 100%;
  min-width: 550px;
  padding: 110px 0;
  gap: 140px;
}
.section_two_img {
  margin: 20px;
}
.l_section_two img {
  width: 600px;
  min-width: 600px;
  height: 600px;
  min-height: 600px;
  max-width: 100%;
  /* height: auto; */
}
/*
* Three
*/
.section_three {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f9fc;
  height: 930px;
  min-width: 390px;
}
.section_three article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue_text {
  color: var(--color-blue-700);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 15px;
}

.section_three h1 {
  color: #000000;
  font-weight: 500;
  font-size: 2rem;
  line-height: 55px;
  letter-spacing: -0.006em;
}
.section_three h2 {
  font-weight: 700;
  line-height: 55px;

  letter-spacing: -0.006em;
  margin-bottom: 32px;
}
.section_three .content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.006em;
}
.three_img img {
  width: 720px;
  height: 600px;
  border-radius: 20px;
}
.m_content {
  display: none;
}
/*
* Four
*/
.l_section_four {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #484bff;
  color: #ffffff;
  height: 930px;
  min-width: 390px;
}

.l_section_four article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.four_img img {
  width: 720px;
  height: 600px;

  border-radius: 20px;
}

.l_section_four .sub_title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.l_section_four h1 {
  font-size: 2rem;
  font-weight: 500;
}
.l_section_four h2 {
  font-weight: 700;
  margin-bottom: 32px;
}
.l_section_four .context {
  font-size: 20px;
  font-weight: 400;

  line-height: 30px;

  letter-spacing: -0.006em;
}
.m_four_context {
  display: none;
}
/*
* Five
*/

.l_section_five {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  height: 930px;
  padding: 0 240px;
}
.l_section_five .text_box {
  align-items: flex-start;
}
.l_section_five article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l_section_five .sub_title {
  color: var(--color-blue-700);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.l_section_five h1 {
  color: #000000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 55px;

  letter-spacing: -0.006em;
}
.l_section_five h2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 55px;

  letter-spacing: -0.006em;
  margin-bottom: 32px;
}
.l_section_five .context {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  letter-spacing: -0.006em;
}

.five_img img {
  width: 720px;
  height: 600px;

  border-radius: 20px;
}
.m_five_context {
  display: none;
}
/*
* Six
*/
.l_section_six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;

  background-image: url('../../../public/assets/render/bg-six.png');
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 850px;
}
.l_section_six article {
  display: flex;
  justify-content: space-evenly;

  text-align: center;
  color: #ffffff;
}
.l_section_six img {
  width: 150px;
  height: 150px;
}
.l_section_six h2 {
  font-size: 1rem;
  font-weight: 700;
}

.l_section_six p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.006em;
}
.six_card_item img {
  margin-bottom: 41px;
}
.six_card_item h2 {
  margin-bottom: 20px;
}
.l_section_six button {
  padding: 12px 16px;
  width: 160px;
  height: 44px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 16px;
  line-height: 20px;

  border: none;
  background-color: #484bff;
  border-radius: 4px;
}
.m_mobile_six {
  display: none;
}

/*
* Seven
*/
.section_seven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  background-image: url('../../../public/assets/render/bg-seven.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  margin-top: -2px;
}
.section_seven article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.seven_first_img {
  width: 631px;
  height: 24px;
  margin-top: 20px;
}
.section_seven h1 {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
}
.seven_button_img {
  padding: 12px 16px;
  width: 150px;
  height: 44px;
  font-size: 14px;

  margin-top: 35px;
  transform: translateX(-4%);
}
.seven_sub_img {
  display: none;
}
.m_seven_button {
  display: none;
}

/*
* Eight
*/
.l_section_eight {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  background-color: #ffffff;
  height: 220px;
}
.l_section_eight article:nth-child(1) {
  display: flex;
  justify-content: space-evenly;
  margin-top: 55px;
  width: 1111px;
  height: 165px;
}
.button_box {
  display: flex;
  justify-content: center;
  gap: 7px;
  width: 100px;
}
.l_section_eight button {
  border: none;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}
.l_section_eight h1 {
  margin-bottom: 15px;
  font-size: 0.7rem;
}
.l_section_eight p {
  font-size: 0.7rem;
  font-weight: 400;
  color: #626262;
  margin-bottom: 5px;
}
.l_section_eight a {
  font-size: 0.7rem;
  font-weight: 400;
  color: #626262;
}
.button_box img {
  margin-top: 10px;
  cursor: pointer;
}
.e_line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58px;
  border-top: 1px solid #efefef;
  /* transform: translateX(1%); */
}
.e_line img {
  margin-left: 13px;
}
.e_cards {
  color: #222222;
}
@media (max-width: 1000px) {
  .container article {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    min-width: 390px;
    height: 600px;
  }
  .l_section_one {
    background-image: url('../../../public/assets/render/bg-one.png');
    background-size: 100vw 100%;
    background-position: center;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    height: 760px;
    width: 100vw;
    min-width: 390px;
  }
  .l_section_one article {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    color: var(--color-white-100);
  }
  .l_section_one .text_box {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin-top: 40px;
    width: 50%;
    min-width: 400px;
  }
  .bg_one_illust {
    width: 350px;

    min-width: 350px;
    height: 189px;
    min-height: 189px;
    max-height: 0;
    margin-top: 0;
  }
  .free_btn {
    border: none;
    background-color: #ffffff;
    border-radius: 4px;
    width: 124px;
    height: 38px;
    color: var(--color-blue-500);

    margin-top: 40px;
    font-size: 14px;
    font-weight: 700;
  }
  .m_free_btn {
    display: block;
    /* width: 124px;
    height: 36px; */
    transform: translateY(-20%);
  }
  .origin_free_btn {
    display: none;
  }
  .l_section_one_two {
    height: 350px;
  }
  .l_section_one_two article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
  }
  .sub_child {
    display: none;
    position: absolute;
    transform: translateX(40px);
  }
  .web_sub {
    display: none;
  }
  .m_sub {
    visibility: visible;
    width: 785px;
    height: 441px;
    position: absolute;
    transform: translate(26%, -28%);
  }
  .try_section {
    height: 1250px;
  }
  .l_section_two .text_box {
    display: none;
  }
  .m_two_text_box {
    display: block;
  }
  .m_two_text_box h1 {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.006em;
  }
  .m_two_text_box h2 {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.006em;
  }
  .l_section_two article:nth-child(2) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 390px;
    min-width: 390px;

    padding: 110px;
    gap: 0;
  }
  .l_section_two img {
    width: 300px;
    min-width: 300px;
    height: 336px;
    min-height: 336px;
    max-width: 100%;
    height: auto;
  }
  .section_three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f9fc;
    height: 610px;
    min-width: 390px;
  }
  .section_three article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 530px;
  }
  .blue_text {
    color: var(--color-blue-700);
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 15px;
    /* margin-top: 43px; */
  }
  .section_three h1 {
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    /* margin-bottom: 30px; */
    line-height: 26px;

    letter-spacing: -0.006em;
  }
  .section_three h2 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.006em;
    line-height: 26px;
    /* margin-bottom: 32px; */
  }
  .three_img img {
    width: 350px;
    height: 291.67px;
    margin-bottom: 10px;
  }
  .section_three .content {
    display: none;
  }
  .m_content {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin-top: 20px;
  }
  .l_section_four {
    height: 610px;
    min-width: 390px;
  }
  .l_section_four article {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 510px;
  }
  .l_section_four .sub_title {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .l_section_four h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
  .l_section_four h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 32px;
    line-height: 26px;
  }
  .l_section_four .context {
    display: none;
  }
  .four_img img {
    width: 350px;
    height: 291.67px;
    margin-bottom: 20px;
  }
  .m_four_context {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  /* Five */
  .l_section_five {
    height: 610px;
    padding: 0;
  }
  .l_section_five .text_box {
    align-items: flex-start;
  }
  .l_section_five article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 520px;
  }
  .l_section_five .sub_title {
    color: var(--color-blue-700);
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .l_section_five h1 {
    color: #000000;
    font-weight: 500;
    line-height: 26px;
    font-size: 18px;
    letter-spacing: -0.006em;
  }
  .l_section_five h2 {
    font-weight: 700;
    line-height: 26px;
    line-height: 26px;
    font-size: 18px;

    letter-spacing: -0.006em;
    margin-bottom: 32px;
  }
  .l_section_five .context {
    display: none;
  }

  .five_img img {
    width: 350px;
    height: 291.67px;
    margin-bottom: 20px;
  }
  .m_five_context {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    letter-spacing: -0.006em;
  }
  .six_card_item {
    display: none;
  }
  .m_mobile_six {
    display: block;
  }
  .m_mobile_six img {
    width: 360px;
    height: 490px;
  }
  .l_section_six article {
    display: flex;
    justify-content: space-evenly;

    height: 490px;
  }
  .l_section_six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;

    background-image: url('../../../public/assets/render/bg-six.png');
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 610px;
  }
  .section_seven {
    width: 100%;
    height: 500px;
    margin-top: -2px;
  }

  .seven_first_img {
    display: none;
  }
  .seven_sub_img {
    display: block;
    width: 200px;
    height: 220px;
  }
  .origin_seven_button {
    display: none;
  }

  .m_seven_button {
    padding: 12px 16px;
    width: 160px;
    height: 44px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    border: none;
    background-color: #fdfdff;
    border-radius: 4px;
    display: block;
    color: #484bff;
  }
  .l_section_eight {
    min-width: 390px;
  }
  .l_section_eight article:nth-child(1) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-width: 390px;
    height: 165px;
  }
}
@media (max-width: 480px) {
  .container article {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    min-width: 390px;
    height: 600px;
  }
  .l_section_one {
    background-image: url('../../../public/assets/render/bg-one.png');
    background-size: 100vw 100%;
    background-position: center;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    height: 760px;
    width: 100vw;
    min-width: 390px;
  }
  .l_section_one article {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    color: var(--color-white-100);
  }
  .l_section_one .text_box {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin-top: 40px;
    width: 50%;
    min-width: 390px;
  }
  .bg_one_illust {
    width: 350px;

    min-width: 350px;
    height: 189px;
    min-height: 189px;
    max-height: 0;
    margin-top: 0;
  }
  .free_btn {
    border: none;
    background-color: #ffffff;
    border-radius: 4px;
    width: 124px;
    height: 38px;
    color: var(--color-blue-500);

    margin-top: 40px;
    font-size: 14px;
    font-weight: 700;
  }
  .m_free_btn {
    display: block;
    /* width: 124px;
    height: 36px; */
    transform: translateY(-20%);
  }
  .origin_free_btn {
    display: none;
  }
  .l_section_one_two {
    height: 350px;
  }
  .l_section_one_two article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
  }
  .sub_child {
    display: none;
    position: absolute;
    transform: translateX(40px);
  }
  .web_sub {
    display: none;
  }
  .m_sub {
    visibility: visible;
    width: 785px;
    height: 441px;
    position: absolute;
    transform: translate(26%, -28%);
  }
  .try_section {
    height: 900px;
  }
  .l_section_two .text_box {
    display: none;
  }
  .m_two_text_box {
    display: block;
  }
  .m_two_text_box h1 {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.006em;
  }
  .m_two_text_box h2 {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.006em;
  }
  .l_section_two article:nth-child(2) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 390px;
    min-width: 390px;

    padding: 110px 0;
    gap: 0;
  }
  .l_section_two img {
    width: 300px;
    min-width: 300px;
    height: 336px;
    min-height: 336px;
    max-width: 100%;
    height: auto;
  }
  .section_three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f9fc;
    height: 610px;
    min-width: 390px;
  }
  .section_three article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 530px;
  }
  .blue_text {
    color: var(--color-blue-700);
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 15px;
    /* margin-top: 43px; */
  }
  .section_three h1 {
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    /* margin-bottom: 30px; */
    line-height: 26px;

    letter-spacing: -0.006em;
  }
  .section_three h2 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.006em;
    line-height: 26px;
    /* margin-bottom: 32px; */
  }
  .three_img img {
    width: 350px;
    height: 291.67px;
    margin-bottom: 10px;
  }
  .section_three .content {
    display: none;
  }
  .m_content {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin-top: 20px;
  }
  .l_section_four {
    height: 610px;
    min-width: 390px;
  }
  .l_section_four article {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 510px;
  }
  .l_section_four .sub_title {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .l_section_four h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
  .l_section_four h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 32px;
    line-height: 26px;
  }
  .l_section_four .context {
    display: none;
  }
  .four_img img {
    width: 350px;
    height: 291.67px;
    margin-bottom: 20px;
  }
  .m_four_context {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  /* Five */
  .l_section_five {
    height: 610px;
    padding: 0;
  }
  .l_section_five .text_box {
    align-items: flex-start;
  }
  .l_section_five article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 520px;
  }
  .l_section_five .sub_title {
    color: var(--color-blue-700);
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .l_section_five h1 {
    color: #000000;
    font-weight: 500;
    line-height: 26px;
    font-size: 18px;
    letter-spacing: -0.006em;
  }
  .l_section_five h2 {
    font-weight: 700;
    line-height: 26px;
    line-height: 26px;
    font-size: 18px;

    letter-spacing: -0.006em;
    margin-bottom: 32px;
  }
  .l_section_five .context {
    display: none;
  }

  .five_img img {
    width: 350px;
    height: 291.67px;
    margin-bottom: 20px;
  }
  .m_five_context {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    letter-spacing: -0.006em;
  }
  .six_card_item {
    display: none;
  }
  .m_mobile_six {
    display: block;
  }
  .m_mobile_six img {
    width: 360px;
    height: 490px;
  }
  .l_section_six article {
    display: flex;
    justify-content: space-evenly;

    height: 490px;
  }
  .l_section_six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;

    background-image: url('../../../public/assets/render/bg-six.png');
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 610px;
  }
  .section_seven {
    width: 100%;
    height: 500px;
    margin-top: -2px;
  }
  .seven_first_img {
    display: none;
  }
  .seven_sub_img {
    display: block;
    width: 200px;
    height: 220px;
  }
  .origin_seven_button {
    display: none;
  }

  .m_seven_button {
    padding: 12px 16px;
    width: 160px;
    height: 44px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    border: none;
    background-color: #fdfdff;
    border-radius: 4px;
    display: block;
    color: #484bff;
  }
  .l_section_eight {
    min-width: 390px;
  }
  .l_section_eight article:nth-child(1) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-width: 390px;
    height: 165px;
  }
}
