.containel {
  display: flex;
  flex-direction: column;
  min-width: 800px;
}
.title_box {
  text-align: center;
  margin-bottom: 50px;
  margin-top: -150px;
}

.title_box p {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: -0.006em;
  margin-bottom: 12px;
}
.origin_title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #ffffff;
  line-height: 55px;
}
.m_title,
.m_title_sub {
  display: none;
}

.try_section {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.add_utm_box_article {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}
.left_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 710px;
  height: 350px;
  border-radius: 4px;
  background-color: #ffffff;
}
.m_text {
  display: none;
}

.left_title {
  margin-top: 28px;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 22px;
}
.left_content {
  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 22px;
}
.textarea {
  width: 414px;
  height: 76px;
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
  padding: 23px;
  border-radius: 4px;

  font-size: 0.8rem;
  font-weight: 400;
  color: #222222;
  line-height: 20px;
  letter-spacing: -0.006em;
}
.right_section {
  display: flex;
  flex-direction: column;

  gap: 12px;
}
.right_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 710px;
  height: 350px;
  border-radius: 4px;
  background-color: #ffffff;
  gap: 6px;
}

.list_utm_box {
  width: 461px;
  height: 261px;
  margin-bottom: 26px;
}
.get_utm {
  display: flex;
  justify-content: space-between;
  width: 474px;
  margin-bottom: 6px;
}
.title_box p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
}

.get_artcle_title {
  font-size: 0.8rem;
  font-weight: 700;
  color: #ffffff;
}
.item_name {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  /* color: #ffffff; */
}
.add_utm_text {
  font-size: 0.8rem;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}
.m_text_right {
  display: none;

  font-size: 14px;
  line-height: 20px;

  font-weight: 700;
  letter-spacing: -0.006em;
  margin-bottom: 20px;
  /* Blue-500 */
  color: #484bff;
}
@keyframes duration {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.items_style {
  display: flex;

  align-items: center;
  width: 345px;
  height: 35px;
  background-color: #ffffff;
  border: none;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: left;
  color: #222222;
  margin-left: 5px;
  padding-left: 5px;
}
.any {
  animation: duration 3s ease-in-out;
}
@media (max-width: 1000px) {
  .containel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .try_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .title_box p {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    line-height: 30px;
    letter-spacing: -0.006em;
    margin-bottom: 12px;
  }
  .m_title {
    display: block;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    line-height: 26px;
    margin-top: 60px;
  }
  .m_title_sub {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
  }

  .origin_title {
    display: none;
  }
  .containel {
    display: flex;
    flex-direction: column;
    min-width: 390px;
  }
  .try_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .add_utm_box_article {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
  }
  .right_section {
    justify-content: center;
    align-items: center;
  }
  .left_box {
    width: 350px;
    height: 270px;
  }
  .right_box {
    width: 350px;
    height: 370px;
  }
  .left_title,
  .left_content,
  .add_utm_text {
    display: none;
  }
  .m_text {
    display: block;
    font-size: 14px;
    line-height: 20px;

    font-weight: 700;
    letter-spacing: -0.006em;
    margin-bottom: 20px;
    /* Blue-500 */
    color: #484bff;
  }
  .textarea {
    width: 297px;
    height: 72px;
    padding: 10px;

    font-size: 0.8rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.006em;
  }
  .get_utm {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-bottom: 6px;
  }
  .list_utm_box {
    width: 320px;
    height: 270px;
    margin-bottom: 26px;
  }
  .items_style {
    width: 230px;
    height: 32px;
  }
  .get_artcle_title {
    display: none;
  }
  .item_name {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    /* color: #ffffff; */
  }
  .m_text_right {
    display: block;
    margin-top: 20px;
  }
}
