/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-family: var(--font-pretendard);
}
svg {
  cursor: pointer;
}
:root {
  /* Color */
  --color-white-100: #ffffff;
  --color-white-200: #f7f7f7;
  --color-white-300: #dfdfdf;
  --color-white-400: #cecece;
  --color-gray: #a5a5a5;
  --color-darkgray: #242424;
  --color-black: #000000;
  --color-background-blue-50: #e2f3ff;
  --color-blue-400: #4c70ff;
  --color-blue-500: #484bff;
  --color-blue-700: #0c1ba6;
  --color-blue-900: #0a0d54;

  /* Font */
  --font-title-headline28: 28px;
  --font-title-subhaed20: 20px;
  --font-title-headline16: 16px;
  --font-title-headline14: 14px;
  --font-category: 16px;
  --font-body: 14px;
  --font-ception: 12px;

  /* Font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Animation */
  --animation-duration: 370ms;
}
button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input {
  margin: 0;
  border-radius: 4px;
  padding: 0 10px;
  accent-color: #484bff;
}

input:checked {
  accent-color: #484bff;
}
input:focus {
  outline: none;
}
input::placeholder {
  font-size: 0.7rem;
}
