/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"); */

/* @font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local("Pretendard Variable"),
    url("../../app/PretendardVariable.woff2") format("woff2-variations");
} */
.container {
  display: flex;
  flex-wrap: wrap;
  min-width: none;
  min-height: 70vh;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  font-size: 0.7rem;
  /* width:81%; */
  /* overflow:auto; */
  /* min-height: 80vh; */
}


.btn_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* 
  @media screen and (max-width:1800px) {
    .container {
      width:81%;
    }
  } */

/* @media screen and (max-width: 1220px) {
  .container {
    width: 50vw;
  }
} */

@media screen and (max-width: 2000px) {
  .btn_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: left;
  }
}
.title_box_d {
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.btn_box h1 {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.006em;
  color: #222222;
}
.btn_box h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.006em;

  color: #222222;
}
.memo_td {
  width: 600px;
  text-overflow: ellipsis;
}
.data_btn {
  font-family: "pretendard";
  width: 125px;
  height: 38px;
  padding: 8px 16px;
  gap: 10px;
  background: #484bff;
  border-radius: 4px;
  color: #ffffff;
  margin: 4px;
  font-weight: 400;
  line-height: 22px;
  border: none;
}

.container select {
  width: 150px;
  height: 40px;
  padding: 3px;
  border-radius: 4px;
}
.table {
  width: 100%;
  border: 0;
  text-align: left;
  background-color: #fff;
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 10px 0px;
  /* width: fit-content; */
}
.table_scroll {
  width: 80%;
  height: 575px;
  overflow: scroll;
}
/* .btn_table_scroll{
  height: 750px;
  overflow: scroll;
  margin: 0 auto;
} */
/* tr { */
/* display: flex; */
/* } */

.container tr {
  height: 38px;
  overflow: hidden;
  table-layout: fixed;
  border-bottom: 1px solid #ddd;
  font-size: 0.7rem;
}
/* .container th {
  border-bottom: 1px solid #ddd;
} */
.memo_td {
  font-size: 0.7rem;
  table-layout: fixed;
}
.container th {
  cursor: pointer;
  font-size: 0.7rem;
}
.container th:nth-child(1),
.container td {
  /* width: 30px; */
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  font-size: 0.7rem;
  /* box-shadow: inset 0 0 0 1px lightgray; */
  /* padding: 1rem; */
}

.table th div input[type="checkbox"] {
  margin-left: 32px;
}

.btn_input_Box > input[type="checkbox"] {
  margin-left: -20px;
}
.btn_input_Box {
  font-size: 0.7rem;
}

.table_title_th {
  height: 40px;
  padding: 0;
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  /* text-align: center; */
  height: 60px;
  font-style: normal;

  /* identical to box height, or 143% */
  letter-spacing: -0.006em;
}

.filter_box {
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 1em 0;
  /* background-color: #f5f9fc; */
  margin-top: 0px;
  margin-right: 0;
}

.container td {
  border-bottom: 1px solid lightgray;
  height: 50px;
  overflow: hidden;
  table-layout: fixed;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

.container input[type="checkbox"] {
  width: 18px;
  height: 18px;
  /* margin-left: 20px; */
}

.container input[type="date"] {
  width: 120px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: 5px;
  font-size: 0.7rem;
}
.container input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.7rem;
}

.container input[type="text"]:focus {
  outline: none;
}

.button {
  width: 84px;
  height: 38px;
  padding: 8px 16px;
  gap: 10px;
  background: #484bff;
  border-radius: 4px;
  color: #ffffff;
  margin: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  border: none;
}
.buttons_box {
  display: flex;
}

.buttons_box > button:hover {
  background: #4c70ff;
}

.plus_button {
  font-family: "pretendard";
  width: 38px;
  height: 38px;
  padding: 8px 16px;
  gap: 10px;
  background: #484bff;
  border-radius: 4px;
  color: #ffffff;
  margin: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus_button > img {
  margin: 0;
  padding: 0;
}

.input_box {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1592px) {
  .table {
    width: 70%;
  }
}
.dialog_button {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
  background-color: transparent;
  font-size: 0.8rem;
}
.dialog_button:hover {
  background-color: #ddd;
}
.dialog {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  z-index: 100;
}

.search_input {
  width: 120px;
  padding: 7px;
  border-radius: 4px;
  margin-right: 20px;
}

.url_button {
  padding: 5px 12px;
  gap: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  width: 70px;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.006em;
  color: #222222;
}

.url_button:hover {
  background-color: #e1e1e1;
  color: #fff;
}

.copy_button {
  width: 68px;
  height: 28px;
  padding: 5px 12px;
  gap: 10px;
  background-color: #484bff;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.006em;
  color: #fff;
}

.dialogBox {
  width: 800px;
  height: 380px;
  justify-items: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  padding: 0;
  border: 1px solid gainsboro;
  z-index: 9;
  overflow: hidden;
}

.dialogBox img {
  cursor: pointer;
}

.del_dialogBox {
  width: 500px;
  height: 300px;
  justify-items: center;
  align-items: center;
  border-radius: 4px;
  /* border: none; */
  padding: 0;
  /* border: 1px solid gainsboro; */
  z-index: 9;
  overflow-y: hidden;
}
.header {
  display: flex;
  flex-direction: space-between;
  border-bottom: 1px solid #e1e1e1;
  height: 64px;
}
.title_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
}
.title_box_out {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
}
.title_box_out .title {
  margin-right: -60px;
}
.title {
  /* position: relative;
  left: 35px; */
  font-size: 0.8rem;
  font-weight: var(--weight-bold);
}
.col_box {
  margin-top: 26px;
}
.col_box p {
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  margin-bottom: 7px;
}
.col_box span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #484bff;
}
.cancleBtn {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
}
.contents {
  /* height: 220px; */
  background-color: white;
  /* width: 800px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
}

.modal_button_loading {
  width: 81px;
  height: 38px;
  border-radius: 4px;
  /* background-color: #fff; */
  /* color: #fff; */
  border: 2px solid #484bff;
}

.modal_button {
  width: 81px;
  height: 38px;
  border-radius: 4px;
  background-color: #484bff;
  color: #fff;
  border: none;
}

.modal_button:hover {
  background: #4c70ff;
}

.modal_del_button {
  width: 81px;
  height: 38px;
  border-radius: 4px;
  background-color: #9f9f9f;
  color: #fff;
  /* font-size: 0.7rem; */
  font-size: 14px;
}
.modal_del_button:hover {
  background-color: #e1e1e1;
}

.col_box {
  display: flex;
  flex-direction: column;
}

.img_box {
  display: flex;
}

.img_box_img {
  margin: 20px 5px 6px 5px;
}

.main_area {
  font-family: "pretendard";
  display: inline;
  z-index: 100000000000;
  border: 1px solid #484bff;
  width: 250px;
  height: 80px;
  outline: none;
  overflow-y: scroll;
  resize: none;
  font-size: 0.7rem;
  line-height: 1;
}

.no_data {
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no_data p {
  font-size: 16px;
  font-weight: 400;
  color: #a5a5a5;
}

.no_data button {
  margin-top: 13px;
  background-color: #fff;
  border: 1px solid #484bff;
  border-radius: 4px;
  color: #484bff;
  padding: 8px;
}
.no_data_item {
  position: relative;
  top: -180px;
  left: -180px;
}
.slim_no_data_item {
  position: relative;
  top: -180px;
  left: -180px;
}

.td_box {
  width: 130px;
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #222222;
  font-size: 0.7rem;
}

.header_filter_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
