.container_category {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  height: 40px;
  min-width: 1590px;

  background-color: var(--color-white-100);
  border-radius: 4px;
  margin-top: 20px;
}
.utm_name {
  display: flex;
  width: 1590px;
}
.item {
  justify-content: space-between;
  margin-right: 9px;

  min-width: 177px;
}
.category_item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.category_text {
  /* width: 100%; */
  /* min-width: 185px; */
  font-size: 0.7rem;
}
.create_img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 40px;
}
.b_createutm {
  width: 20px;
  height: 20px;
}
