.container {
  width: 100vw;
  overflow: hidden;
}
.section_one {
  /* background-image: url('../../../public/assets/m_section_one.png'); */
  background-size: 98% 1200px;
  background-position: center;
  height: 1200px;
  min-width: 390px;
}
.section_one article {
  position: relative;
  top: 130px;
  text-align: center;
}

.section_one img {
  margin-top: 65px;
}
.section_one h1 {
  color: #ffffff;
  font-size: 26px;
  margin: 0;
}
.section_one p {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}
.section_one button {
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  width: 124px;
  height: 38px;
  color: var(--color-blue-500);

  margin-top: 95px;
  font-size: 14px;
  font-weight: 500;
}
.section_one_two {
  background-color: #f5f9fc;
  height: 409px;
}
.section_one_two article {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1608px;
}
.section_one_two img {
  /* width: 785px;
    height: 441px; */
  height: auto;
  position: relative;
  top: -110px;
  /* left: 185px; */
}

.section_two {
  display: flex;
  min-width: 390px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  /* padding: 0 240px; */
}
.section_two article:nth-child(1) {
  display: flex;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin-top: 104px;
}
.section_two p {
  color: #484bff;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}
.section_two h2 {
  color: #000000;
  font-weight: 300;
  font-size: 16px;
}
.section_two h1 {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  /* margin-top: -40px; */
}
.section_two article:nth-child(2) {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 15px;
}
.section_two_img {
  width: 350px;
  margin: 20px;
}
.section_two img {
  max-width: 100%;
  height: auto;
}
/*
  * Three
  */
.section_three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f9fc;
  text-align: center;
  height: 590px;
  padding: 0 20px;
}
.section_three article:nth-child(1) {
  /* width: 390px; */
}
.section_three article:nth-child(2) {
  /* width: 390px; */
  min-width: 320px;
  height: auto;
}
.section_three article:nth-child(2) img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 40px;
}
.section_three p:nth-child(1) {
  color: #484bff;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 15px;
}
.section_three p:nth-child(4) {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 15px;
}
.section_three h2 {
  color: #000000;
  font-weight: 300;
  font-size: 16px;
  /* margin-top: -15px; */
}
.section_three h1 {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
}
.three_context {
  font-size: 20px;
  font-weight: 400;
}
/*
  * Four
  */
.section_four {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f5f9fc;
  color: #ffffff;
  padding: 0 20px;
  background-color: #484bff;
  height: 590px;
  /* min-width: 390px; */
}

.section_four article:nth-child(1) {
  width: 100%;
  min-width: 320px;
  height: auto;
}
.section_four article:nth-child(1) img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 40px;
}

.section_four h1 {
  font-size: 16px;
  font-weight: 400;
  /* margin-top: -25px; */
}
.section_four h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.section_four p {
  font-size: 14px;
  font-weight: 700;
}
.section_four .sub_title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.section_four .context {
  font-size: 14px;
  font-weight: 400;
}

/*
  * Five
  */

.section_five {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fafafa;
  height: 590px;
  padding: 0 20px;
}

.section_five article:nth-child(1) {
  /* width: 720px; */
}
.section_five article:nth-child(2) {
  /* width: 720px; */
  min-width: 320px;
  height: auto;
}
.section_five article:nth-child(2) img {
  width: 100%;
  height: auto;
  margin-top: 47px;
  /* position: relative;
    top: 0; */
  /* left: 100px; */
  border-radius: 10px;
}

.section_five .sub_title {
  color: #484bff;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}
.section_five h1 {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}
.section_five span {
  font-weight: 600;
}
.section_five .context {
  font-size: 14px;
  font-weight: 400;
}
/*
  * Six
  */
.section_six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
  /* background-image: url('../../assets/six.gif'); */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 590px;
}
.section_six article {
  display: flex;
  justify-content: space-between;
  width: 1310px;

  text-align: center;
  color: #ffffff;
}
.section_six img {
  width: 150px;
  height: 150px;
}
.section_six h2 {
  font-size: 28px;
  font-weight: 400;
}
.section_six span {
  font-weight: 700;
}
.section_six p {
  font-size: 16px;
  font-weight: 400;
}
.six_card_item img {
  margin-bottom: 41px;
}
.six_card_item h2 {
  margin-bottom: 20px;
}
.section_six button {
  padding: 12px 16px;
  width: 160px;
  height: 44px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 16px;
  line-height: 20px;
  gap: 10px;

  border: none;
  background-color: #484bff;
  border-radius: 4px;
}

/*
  * Seven
  */
.section_seven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* background-image: url('../../assets/sectionseven.png'); */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 590px;
}
.section_seven article {
  position: relative;
  left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.seven_first_img {
  width: 170px;
  height: 194px;
  margin-top: 49px;
}
.section_seven h1 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
.seven_button_img {
  padding: 12px 16px;
  width: 155px;
  height: 38px;
  font-size: 14px;
  margin-top: 57px;
}

/*
  * Eight
  */
.section_eight {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  background-color: #ffffff;
  height: 150px;
}
.section_eight article:nth-child(1) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 390px;
  height: 220px;
}
.button_box {
  display: flex;
  justify-content: center;
  gap: 7px;
  width: 100px;
}
.section_eight button {
  border: none;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}
.section_eight p {
  font-size: 10px;
  font-weight: 400;
  color: #626262;
  margin-top: 5px;
}
.button_box img {
  margin-top: 10px;
  cursor: pointer;
}
.e_line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58px;
  border-top: 1px solid #efefef;
}
.e_cards {
  color: #222222;
}

/* 모바일 에러 페이지 */

.error_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../../../public/assets/img/m_error.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 900px;
  color: #fff;
  gap: 90px;
}

.error_container img {
  /* margin-top: -100px; */
}

.error_container h1 {
  font-size: 22px;
  line-height: 50px;
}

.error_container p {
  font-size: 14px;
}
.m_video {
  /* position: relative;
  top: -130px; */
}
