.blue_button_style {
  padding: 8px 16px;
  font-size: 14px;
  color: white;
}

/* Size */
.sm {
  width: 81px;
  height: 38px;
}
.md {
  width: 120px;
  height: 44px;
}
.login {
  width: 500px;
  height: 38px;
}

/* Color */
.tp {
  background-color: transparent;
  border: 1px solid var(--color-blue-500);
  color: var(--color-blue-500);
  font-size: 12px;
}
.tp:hover {
  color: var(--color-white-100);
  background-color: #484bff;
}
.tp:active {
  background-color: var(--color-blue-700);
}

.full {
  color: var(--color-white-100);
  background-color: #484bff;
}
.full:hover {
  background-color: var(--color-blue-400);
}
.full:active {
  background-color: var(--color-blue-700);
}
