.copy_button {
  width: 81px;
  min-width: 81px;
  height: 38px;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;

  /* margin-left: 8px; */
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #484bff;
}
.copy_button:hover {
  color: var(--color-white-100);
  background-color: #484bff;
}

.alert {
  width: 560px;
  height: 90px;
  background-color: #f5f9fc;
  border: 1px solid #7d97ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  z-index: 999;
}
.alert_left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert_left img {
  margin-right: 20px;
}

.alert > button {
  border: none;
  margin-right: 20px;
}

.alert_text {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.alert_text > h5,
.alert_text p {
  margin: 2px;
}
.alert button {
  width: 68px;
  height: 28px;
  padding: 5px 12px;
  gap: 10px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.006em;
  color: #222222;
  background-color: transparent;
}
